
section {
    padding: 30px 40px 0 40px !important;
    position: absolute;
    z-index: 2;
}

nav {
    height: 60px;
    border-radius: 25px;
    box-shadow: -5px 5px 5px rgba(34, 34, 34, 0.3);
    background-color: rgba(26, 26, 26, 0.4);
    -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
}

input {
    width: 400px !important;
    padding: 5px 20px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    background-color: rgba(9, 9, 9, 0.2);
    -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
}

::placeholder {
    color: white !important;
}

.btn-round {
    border-radius: 20px !important;
    height: 40px !important;
    color: white;
    border: none !important;
    background-color: rgba(9, 9, 9, 0.2);
    -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
}

.locationTitle {
    width: 500px;
}

.box {
    border-radius: 25px;
    box-shadow: -5px 5px 5px rgba(34, 34, 34, 0.3);
    background-color: rgba(26, 26, 26, 0.2);
    -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
}

aside {
    position: relative;
}

img.logo {
    position: absolute;
    width: 165px;
}

img.icon {
    width: 12px;
}

.active {
    background: teal !important;
}

.active:hover {
    background:black !important;
}

.triangle {
    padding: 0 3px 0 0;
    font-size: 11px;
}

.autocomplete-dropdown-container {
    z-index: 5;
    margin: 10px 0 0 0;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #1a1a1a;
}

div.suggestion-item {
   padding: 5px 10px;
   background: none !important;
   z-index: 5;
}

.suggestion-item--active {
    padding: 5px 10px;
    background-color: #2a2a2a !important;
}

@media only screen and (max-width: 992px) {
    section {
        padding: 10px 0 0 0 !important;
    }
    input {width: 425px !important;}
    nav {
      height: auto;
      border-radius: 0;
      padding: 10px 0 15px 0;
    }
    .logo{
        display: none;
    }
    .places { margin: 5px 0 0 0;}
}

@media only screen and (max-width: 692px) { 
    input {width: 350px !important;}
}