article {
    height: 100vh;
    /* border: 1px solid white; */
    background: #2a2a2a;
}

.card-sect {
    height: 33.33%;
}

.card-box {
    padding: 20px 10px;
    height: auto;
    border-radius: 15px;
    background-color: rgba(26, 26, 26, 0.4);
    -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
}

h1.big-text {
    font-size: 3.5em;
}

.textStyle {
    line-height: .7em;  
}